body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}

#price{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-template-rows: repeat(5, minmax(8.75rem, auto));
  gap:0.625rem;
  padding: 0.321rem 0.312rem;
}

.item{
    border:0.0625rem solid white;
    border-radius: 0.375rem;
    background:linear-gradient(to right, rgb(229, 79, 24),rgb(230, 139, 19),rgb(152, 236, 18),rgb(221, 218, 28));
    text-align: center;
    color: rgb(22, 29, 61);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.562rem;
    font-weight: bold;
    transition: 0.3s ease;
}

.item:hover{
    background-color: rgba(234, 142, 105, 0.993);
    transform: scale(1.05);
}

a{
    text-decoration: none;
    color: black;
    display: block;
}

